body {
    background: url('concert.jpg');
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand {
    margin-left: 15px;
    color: orange;
}

.navbar-inverse .navbar-brand {
    color: orange;
}

.navbar-right {
    margin-right: 20px;
    margin-top: 7px;
}

#band-pic {
    margin-left: 55px;
    height: 392px;
    width: 483px;
}

#band-info {
    width: 50%;
    float: left;
    margin-left: 20px;
    color: white;
    margin-bottom: 10px;
}

button.band-button {
    background-color: #333;
    color: white;
}

.card-inverse {
    border-radius: 10px;
    height: 505px;
}

.card-title {
    margin-left: 10px;
    padding-top: 10px;
}

a {
    margin-left: 60px;
    padding-top: 10px;
}

#band-search {
    margin-top: 7px;
    margin-left: 840px;
}

.card-text {
    margin-left: 10px;
}

#band-bio {
    width: 46%;
    float: right;
    margin-right: 15px;
    color: white;
}

#insert-bio {
    margin-left: 10px;
    margin-right: 10px;
}

#bio {
    height: 250px;
}

#top-song {
    margin-top: 0px;
}

#top-ten {
    background-color: #333;
    border-color: #333;
    width: 46%;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    color: white;
    border-radius: 10px;
    height: 250px;
}

#ten {
    height: 244px;
}

#ten-list {
    margin-top: -10px;
}
#tour-dates {
    clear:both; 
    margin: 20px;
    width: 50%;
    float: left;
    margin-top: -16px;
}

#tours {
    height: 250px;
    color: white
}

#your-bands {
    float: left;
    width: 46%;
    margin-top: 23px;
}

#saved-bands {
    height: 250px;
    margin-top: -18px;
    margin-left: -4px;
    margin-right: 7px;
    color: white;
    border-radius: 10px;
}
